/* General page styling */
body {
  font-family: 'Courier New', Courier, monospace;
  background: #3A3639;   
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h2{
  background: linear-gradient(#4371C4D4,#919666,#4371C4D4);
  color: mediumvioletred;
border-radius: 20px;
font-size: 50px;
width: 100%;
margin-top: 2rem;
}

/* Main container */
#weather-container {
  background: linear-gradient(#B8BACE,#A13681);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(rgba(113, 88, 143, 1),0 , 0, 0.1);
  text-align: center;
  width: 320px;
}
input[type="text"] {
  width: 70%;
  height: 50px;
  padding: 10px 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rcap;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 30px;
  margin-bottom: 1rem;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}
#weather-icon {
  width: 100px;
  height: 100px;
  display: none;
  margin: 1rem auto;
}

/* Weather info */
#temp-div p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

#weather-info p {
  margin: 0.5rem 0;
  color: #fff;
  font-size: 2rem;
}

/* Hourly forecast styling */
.hourly-item {
  background: #f0f8ff;
  border-radius: 10px;
  margin: 6px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}

/* Fade-in animation */
.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.8s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
